<div class="container">

  <form [formGroup]="editEmployee" (ngSubmit)="onEmployeeEdit()" >
    <h1 class="hh">UPDATE EMPLOYEE</h1>
    <div class="form-groupup">
      <mat-label><b>Name</b></mat-label><br>
      <input class="form-control" placeholder="Enter Name" formControlName="user_name" type="text">
      <!-- <label class="alert alert-danger" *ngIf="addemployee.get('email_id').hasError('required') && !addemployee.get('email_id').pristine" >Email is required</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('email_id').hasError('email') && !addemployee.get('email_id').pristine" >Email is Invalid</label> -->
    </div><br>
    <div class="form-group" >
      <mat-label><b>Email Id</b></mat-label><br>
      <input class="form-control" placeholder="Enter EMAIL_ID" formControlName="email_id" type="text" >
      <!-- <label class="alert alert-danger" *ngIf="addemployee.get('user_name').hasError('required') && !addemployee.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('user_name').hasError('minlength') && !addemployee.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('user_name').hasError('pattern') && !addemployee.get('user_name').pristine" > Only Chars</label> -->
    </div><br>
    <div class="form-group" >
      <mat-label><b>Mobile No</b></mat-label><br>
      <input class="form-control" placeholder="Enter Mobile" formControlName="mobile_no" type="number">
      <!-- <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('required') && !addemployee.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('pattern') " > Only digits</label> -->
    </div><br>
    <div class="form-group" >
      <mat-label><b>Address</b></mat-label><br>
      <input class="form-control" placeholder="Enter Address" formControlName="address" type="text">
      <!-- <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('required') && !addemployee.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('pattern') " > Only digits</label> -->
    </div><br>
    <div>
    <mat-label><b>Date Of Birth :</b></mat-label><br>
      <input class="form-control" type="date" formControlName="date_of_birth" type="date">
    </div><br>

    <div>
      <mat-label><b>EMPLOYEE's Designation :</b></mat-label><br>
      <select class="form-control" formControlName="employee_designation" type="dropbox">
        <option value="Supretender">Supretender</option>
        <option value="Delivery Boy">Delivery Boy</option>
        <option value="Machanic">Machanic</option>
      </select>
    </div><br>
    <div class="form-group" >
      <mat-label><b>Employee's Salary</b></mat-label><br>
      <input class="form-control" placeholder="Enter Employee's Salary" formControlName="salary" type="number">
      <!-- <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('required') && !addemployee.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="addemployee.get('mobile_no').hasError('pattern') " > Only digits</label> -->
    </div><br>
    <div>
      <mat-label><b>Employee's Image</b></mat-label><br/>
      <img src="{{EmpImage}}" >
      <input type="file" class="form-control" (change)="onchange($event)" >
    </div>
    <div class="form-group">
      <button  type="submit" class="btn" >Edit</button>
      <button   class="can" (click)="onCancle()" >Cancle</button>
    </div>
  </form>
</div>
