/* Full-width inputs */
input[type=text], input[type=password],input[type=number],input[type=date] {
  width: 90%;
  padding: 12px 20px;
  margin: 2px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 200px;
}
.icon{
  align-items: left;
}

.hh{
  text-align: center;
  font-family: 'Courier New';
}


/* Set a style for all buttons */
button:hover {
  opacity: 0.8;
}
button {
  color: black;
  padding: 12px 20px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 70%;
  margin-bottom: 1%;
  border: none;
  width: 20%;
  height: 5%;
}
/* Add padding to containers */
.container {
  padding: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
label
{
  padding:50px;
  font-family:comic;
  font-size:10px;
  font-color:blue;
}
