<!-- <p>deliveryboy-viewmore works!</p> -->
<!-- <p>worker-popup works!</p> -->
<div *ngFor="let item of empData; let i=index">
  <mat-card-content>
    <img src="{{EmpImage}}{{item.employee_img}}" height="100px" width="100px">
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox    #chkUserName (change)="onChecked(item.employee_id)" >{{item.user_name}}</mat-checkbox>
  </mat-card-actions>
</div>
<div>
  <button mat-button (click)="onAllotSubmitClick()">Submit</button>
  <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
