<div class="container">
<mat-list>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_description}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item ><i class="material-icons">perm_identity</i>{{category_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_image}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_price}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{quantity}}</mat-list-item>
</mat-list>
</div>
