<div class="container">


  <form [formGroup]="editService" (ngSubmit)="onServiceEdit()">
    <h1 class="hh"><b>Edit Service</b></h1>

    <div class="form-groupup">
      <mat-label><b>Vehicle Registered No</b></mat-label><br>
       <input class="form-control" placeholder="Enter Vehicle Registered No" formControlName="vehicle_no" type="text" >
      <label class="alert alert-danger" *ngIf="editService.get('vehicle_no').hasError('required') && !editService.get('vehicle_no').pristine" >Vehicle Registered No is required</label>
      <label class="alert alert-danger" *ngIf="editService.get('vehicle_no').hasError('pattern') && !editService.get('vehicle_no').pristine" >Vehicle Registered No must required in valid formate of (ex:GJ-01-XY-0000)</label>
    </div><br>
    <div class="form-group" >
      <mat-label><b>Meter Reading</b></mat-label><br>
      <input class="form-control" placeholder="Enter Meter Reading" formControlName="meter_reading" type="text" >
      <label class="alert alert-danger" *ngIf="editService.get('meter_reading').hasError('required') && !editService.get('meter_reading').pristine" >Meter Reading is required</label>
    </div><br>

    <div class="form-group" >
      <mat-label><b>Fuel Tank Status</b></mat-label><br>
      <select class="form-control" formControlName="fuel_tank" type="dropbox" >
        <option value="Half Tank">Half Tank</option>
        <option value="Full Tank">Full Tank</option>
      </select>
      <label class="alert alert-danger" *ngIf="editService.get('fuel_tank').hasError('required') && !editService.get('fuel_tank').pristine" >Fuel Tank Status is required</label>
    </div><br>

    <div class="form-group" >
      <mat-label><b>Add Your Ramrks :</b></mat-label><br>
      <input class="form-control" placeholder="Enter Your Remarks" formControlName="remark" type="text" >
    </div><br>
    <mat-label><b>Your Complaints:</b></mat-label><br>
    <div class="form-group" *ngFor="let item of serviceArr">
      <input type="checkbox" (change)="onServiceCheck(item.Name)" [checked]="item.isChecked" value="{{item.Name}}">{{item.Name}}<br>
    </div>
  <div>
    <div class="form-group">
      <button mat-raised-button id="Add Record" type="submit"  [disabled] = "!editService.valid"  color="primary">Submit</button>
      <button mat-raised-button id="Add Record" (click)="onCancle()"  color="accent">Back</button>
    </div>
  </div>
</form>
