<div class="container">
  <img src="{{ProductImage}}">
  <div class="info">
    <mat-list>
      <mat-list-item><i class="material-icons">perm_identity</i>{{product_id}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><i class="material-icons">perm_identity</i>{{product_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><i class="material-icons">perm_identity</i>{{product_description}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let item of cate_arr"><i class="material-icons">perm_identity</i>{{item.category_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><i class="material-icons">perm_identity</i>{{product_price}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><i class="material-icons">perm_identity</i>{{fk_color_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><i class="material-icons">perm_identity</i>{{fk_cate_name}}</mat-list-item>
    </mat-list>
  </div>
<mat-list>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_id}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_description}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let item of cate_arr"><i class="material-icons">perm_identity</i>{{item.category_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{product_price | currency:'INR'}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{product_image}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">color_lens</i>{{fk_color_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">category</i>{{fk_cate_name}}</mat-list-item>
</mat-list>
<div >
    <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
</div>

