<div class="container">
  <form [formGroup]="addService" (ngSubmit)="onServiceAdd()" >
    <h1 class="hh"><b>Add service</b></h1>

    <div class="form-group">
      <mat-label><b>Vehicle Registered No</b></mat-label><br>
      <input class="form-control" placeholder="Enter Vehicle Registered No" formControlName="vehicle_no" type="text" >
      <label class="alert alert-danger" *ngIf="addService.get('vehicle_no').hasError('required') && !addService.get('vehicle_no').pristine" >Vehicle Registered No is required</label>
    </div><br>

    <div class="form-group">
      <mat-label><b>Meter Reading</b></mat-label><br>
      <input class="form-control" placeholder="Enter Meter Reading" formControlName="meter_reading" type="text" >
      <label class="alert alert-danger" *ngIf="addService.get('meter_reading').hasError('required') && !addService.get('meter_reading').pristine" >Meter Reading is required</label>
    </div><br>

    <div class="form-group" class="dropdown-menu">
      <mat-label><b>Fuel Tank Status</b></mat-label><br>
      <select class="form-control" formControlName="fuel_tank" placeholder="" type="dropbox">
        <option class="dropdown-item" value="Full Tank">Full Tank</option>
        <option class="dropdown-item" value="Half Tank">Half TANK</option>
      </select>
    </div><br>

    <div class="form-group">
      <mat-label><b>Add Your Ramarks :</b></mat-label><br>
     <input class="form-control" placeholder="Enter Your Remarks" formControlName="remark" type="text">
    </div><br>

    <mat-label><b>Owner's Name :</b></mat-label><br>
    <div class="form-group" >
      <select type="dropbox" class="form-control" formControlName="fk_user_id" aria-placeholder="Vehicle's Owner">
        <option  *ngFor="let item of userArr" value="{{item.user_id}}">{{item.user_name}}</option>
      </select>
    </div>

    <mat-label><b>Your Complaints:</b></mat-label><br>
    <div class="form-group" *ngFor="let item of serviceArr">
      <!-- <input type="checkbox" (change)="onServiceCheck(item.Name)" value="{{item.isChecked}}">{{item.Name}}<br> -->
    </div>
  <div>
    <div class="form-group">
      <button mat-raised-button id="Add Record" [disabled]="addService.invalid" type="submit" class="buttonn" color="primary" aria-label="ADD USER">Submit</button>
      <button mat-raised-button  class="button" (click)="onCancle()" color="accent" aria-label="ADD USER" >Back</button>
    </div>
  </div>
</form>
