<div class="container">

  <form [formGroup]="editStock" (ngSubmit)="onStockEdit()" >
    <h1 class="hh">Stock Edit</h1>
    <div class="form-groupup">
      <mat-label><b>Product Image</b></mat-label><br>
      <img class="form-control" formControlName="product_image" src="{{product_image}}">
    </div><br>

    <div class="form-group" >
      <mat-label><b>Product Name :</b></mat-label><br>
      <input class="form-control" placeholder="Enter Product Name " formControlName="product_name" disabled type="text">
      <!-- <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label> -->
    </div><br>

    <div class="form-group" >
      <mat-label><b>Product Price</b></mat-label><br>
      <input class="form-control" placeholder="Enter Product Price" formControlName="product_price" type="text">
      <!-- <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label> -->
    </div><br>

    <div class="form-group" >
      <mat-label><b>Category Name</b></mat-label><br>
      <input class="form-control" placeholder="Enter Category Name" formControlName="category_name" type="text">
      <!-- <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label> -->
    </div><br>

    <div class="form-group" >
      <mat-label><b>Quantity :</b></mat-label><br>
      <input class="form-control" placeholder="Enter Quantity" formControlName="quantity" type="text">
      <!-- <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label> -->
    </div><br>

    <div class="form-group" >
      <mat-label><b>Quantity</b></mat-label><br>
      <input class="form-control" placeholder="Enter Quantity" formControlName="quantity" type="number">
      <!-- <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('required') && !addproduct.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('pattern') " > Only digits</label> -->
    </div><br>
    <div>
    <div class="form-group">
      <button  type="submit" class="btn" > Edit </button>
      <button  class="can" (click)="onCancle()" > Cancle </button>
    </div>
</div>
</form>
