<!-- <p>worker-image-add works!</p> -->
<div>
  <form (ngSubmit)="onImageSubmit()" [formGroup]="editWorkerImg">
    <div>
      <img src="http://localhost:3000/Images/WorkerImages/{{workerImg}}" height="200px" width="200px">
    </div>
    <input type="file" alt="Your Photo" formControlName="image" (change)="onChange($event)">
    <div>

      <button mat-raised-button id="Add Record" type="submit"   color="primary">Submit</button>
      <button mat-raised-button id="Add Record" (click)="onclose()" color="accent">Back</button>
    </div>
  </form>
</div>
