<div class="form-group" >

  <form [formGroup]="userEdit" (ngSubmit)="onUserEdit()" >
    <div class="container">
    <h1 class="hh"  >USER EDIT</h1>
    <br>

    <div class="form-group" >
      <mat-label><b>EMAIL ID</b></mat-label><br>
      <input class="form-control" placeholder="Enter Email" formControlName="email_id" type="text">
      <label class="alert alert-danger" *ngIf="userEdit.get('email_id').hasError('required') && !userEdit.get('email_id').pristine" >Email is required</label>
      <label class="alert alert-danger" *ngIf="userEdit.get('email_id').hasError('email') && !userEdit.get('email_id').pristine" >Email is Invalid</label>
    </div><br>
    <div>
      <mat-label><b>PASSWORD</b></mat-label><br>
      <input class="form-control" type="password" placeholder="Enter Password" formControlName="password" disabled>
    <label class="alert alert-danger" *ngIf="userEdit.get('password').hasError('sarkhanathi')"  >Both password and confirm password should be same.</label>
    </div><br>
    <div class="form-group" >
      <mat-label><b>USER NAME</b></mat-label><br>
      <input class="form-control" placeholder="Enter Name" formControlName="user_name" type="text">
      <label class="alert alert-danger" *ngIf="userEdit.get('user_name').hasError('required') && !userEdit.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="userEdit.get('user_name').hasError('minlength') && !userEdit.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="userEdit.get('user_name').hasError('pattern') && !userEdit.get('user_name').pristine" > Only Chars</label>
    </div><br>
    <div class="form-group" >
      <mat-label><b>ADDRESS</b></mat-label><br>
      <input class="form-control" placeholder="Enter Address" formControlName="address" type="text1">
    </div><br>
    <div class="form-group" >
      <mat-label><b>MOBILE NO</b></mat-label><br>
      <input class="form-control" placeholder="Enter Mobile" formControlName="mobile_no" type="number">
      <label class="alert alert-danger" *ngIf="userEdit.get('mobile_no').hasError('required') && !userEdit.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="userEdit.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="userEdit.get('mobile_no').hasError('pattern') " > Only digits</label>
    </div><br>
    <div class="form-group" >
      <mat-label><b>DATE OF BIRTH</b></mat-label><br>
      <input class="form-control" placeholder="Enter Date Of Birth" formControlName="date_of_birth" type="date">
      <label class="alert alert-danger" *ngIf="userEdit.get('date_of_birth').hasError('required') && !userEdit.get('mobile_no').pristine" >mobile no is required</label>
    </div><br>
    <div class="form-group" >
      <button type="submit" class="btn">Submit</button>
      <button class="can" (click)="onCancle()">Cancle</button>
    </div>
  </div>
  </form>
</div>
