<div class="container">

  <h1>ADD USER</h1>

  <form [formGroup]="addproduct" (ngSubmit)="onProductAdd()" >
    <div class="form-groupup">
      <mat-label><b>Product Name</b></mat-label><br>
      <input class="form-control" placeholder="Enter Name" formControlName="product_name" >
      <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('required') && !addproduct.get('email_id').pristine" >Email is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('email') && !addproduct.get('email_id').pristine" >Email is Invalid</label>
    </div><br>
    <div class="form-group" >
      <mat-label><b>Product Description</b></mat-label><br>
      <input class="form-control" placeholder="Enter Product Description" formControlName="product_description" >
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label>
    </div><br>
    <div class="form-group" >
      <mat-label><b>Category Name</b></mat-label><br>
      <select class="form-control" formControlName="fk_cat_id" >
        <option *ngFor="let item of catearr" [value]="item.category_id">{{item.category_name}}</option>
      </select>
    </div><br>
    <div class="form-group" >
      <mat-label><b>Product Price</b></mat-label><br>
      <input class="form-control" placeholder="Enter Product Price" formControlName="product_price" >
      <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('required') && !addproduct.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('pattern') " > Only digits</label>
    </div><br>
    <div>
      <div class="form-group" >
        <mat-label><b>Color</b></mat-label><br>
        <select class="form-control" formControlName="fk_color_id" >
          <option *ngFor="let item of colorarr" [value]="item.color_id">{{item.color_name}}</option>
        </select>
      </div><br>
    <div class="form-group">
      <button  type="submit" class="btn btn-primary" >ADD </button>
    </div>
</div>
</form>
