<!-- <p>slot-viewmore works!</p> -->
<!--
<h1>{{Name}}</h1>
<h1>{{Mobile_no}}</h1>
<h1>{{Email_id}}</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div> -->
<mat-list>

  <mat-list-item>{{slot_register_id}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{vehicle_type}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{vehicle_model}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{service_type}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{time_period}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{pickup_time}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{pickup_address}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{requirment}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{drop_address}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{allotment_emp_id}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<div mat-dialog-actions>
    <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
