<p>product-view-more works!</p>
<mat-list>
  <mat-list-item>{{product_id}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{product_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{product_description}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{product_price}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{product_image}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{product_color}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<div mat-dialog-actions>
    <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
