<div>
    <form>
    
        <mat-form-field>
          <input matInput placeholder="ENTER Product Id" [(ngModel)]="product_id" name="product_id" disabled>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="ENTER Product Name" [(ngModel)]="product_name" name="product_name">
        </mat-form-field>
    
        <br>
        <mat-form-field>
          <input matInput placeholder="ENTER Product Description" [(ngModel)]="product_description" name="product_description">
        </mat-form-field>
        <br>
    
        <mat-form-field>
          <input matInput placeholder="ENTER Product Price" [(ngModel)]="product_price" name="product_price">
        </mat-form-field>
        <br>
    
        <mat-form-field>
          <input matInput placeholder="ENTER Product color" [(ngModel)]="product_color" name="product_color">
        </mat-form-field>
        <br>
    
        <mat-form-field>
          <input matInput placeholder="Category_id" [(ngModel)]="fk_cat_id" name="fk_cat_id" disabled>
        </mat-form-field>
        <br>
    
        <mat-form-field>
          <input matInput placeholder="color_id" [(ngModel)]="fk_color_id" name="fk_color_id" disabled>
        </mat-form-field>
        <br>
    
        <mat-label>PRODUCT IMAGE</mat-label><br>
        <input type="file" name="product_image" [(ngModel)]="product_image">
        <br>
    
        <button type="submit" (click)="onProductEdit()">ADD</button>
      </form>
    </div>
    