<div class="container">

  <form [formGroup]="editProduct" (ngSubmit)="onProductEdit()" >
    <div class="form-groupup">
      <mat-label><b>Product Name</b></mat-label><br>
      <input class="form-control" placeholder="Enter Name" formControlName="product_name" type="text">
       <!-- <label class="alert alert-danger" *ngIf="editProduct.get('email_id').hasError('required') && !editProduct.get('email_id').pristine" >Email is required</label>
      <label class="alert alert-danger" *ngIf="editProduct.get('email_id').hasError('email') && !editProduct.get('email_id').pristine" >Email is Invalid</label> -->
    </div><br>
    <div class="form-group" >
      <mat-label><b>Product Description</b></mat-label><br>
      <input class="form-control" placeholder="Enter Product Description" formControlName="product_description" type="text" >
       <!-- <label class="alert alert-danger" *ngIf="editProduct.get('user_name').hasError('required') && !editProduct.get('user_name').pristine" >Name is required</label>
      <label class="alert alert-danger" *ngIf="editProduct.get('user_name').hasError('minlength') && !editProduct.get('user_name').pristine" >Name shoul be > 5</label>
      <label class="alert alert-danger" *ngIf="editProduct.get('user_name').hasError('pattern') && !editProduct.get('user_name').pristine" > Only Chars</label> -->
    </div><br>
    <div class="form-group" >
      <mat-label><b>Category Name</b></mat-label><br>
      <select class="form-control" formControlName="fk_cat_id" type="dropbox">
        <option *ngFor="let item of cate_arr" [value]="item.category_id">{{item.category_name}}</option>
      </select>
    </div><br>
    <div class="form-group" >
      <mat-label><b>Product Price</b></mat-label><br>
      <input class="form-control" placeholder="Enter Product Price" formControlName="product_price" type="text">
      <!-- <label class="alert alert-danger" *ngIf="editProduct.get('mobile_no').hasError('required') && !editProduct.get('mobile_no').pristine" >mobile no is required</label>
      <label class="alert alert-danger" *ngIf="editProduct.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
      <label class="alert alert-danger" *ngIf="editProduct.get('mobile_no').hasError('pattern') " > Only digits</label> -->
    </div><br>
      <div class="form-group" >
        <mat-label><b>Color</b></mat-label><br>
          <input class="form-control" formControlName="color" type="text">
        </div><br>
    <div class="form-group">
      <button mat-raised-button id="Add Record" type="submit"  [disabled] = "!editProduct.valid"  color="primary">Submit</button>
      <button mat-raised-button id="Add Record" (click)="onCancle()"  color="accent">Back</button>
    </div>
  </form>
</div>
