<div class="container">

  <h1>Signup</h1>

  <form [formGroup]="editSlot" (ngSubmit)="onSlotedit()" >
    <div class="form-groupup">
      <mat-label><b>Vehicle Model</b></mat-label><br>
      <input class="form-control" placeholder="Enter Vehicle Model" formControlName="vehicle_model" >
      <!-- <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('required') && !addproduct.get('email_id').pristine" >Email is required</label>
      <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('email') && !addproduct.get('email_id').pristine" >Email is Invalid</label> -->
    </div><br>
    <div class="form-group" >
      <mat-label><b>Vehicle Type</b></mat-label><br>
      <select class="form-control" formControlName="vehicle_type" >
        <option *ngFor="let item of " [value]="">{{item.vehicle_type}}</option>
      </select>
    </div><br>
      <div class="form-group" >
        <mat-label><b>Service Type</b></mat-label><br>
        <select class="form-control" formControlName="service_type" >
          <option *ngFor="let item of " [value]="">{{item.service_type}}</option>
        </select>
      </div><br>
      <div class="form-group" >
        <mat-label><b>Time Period</b></mat-label><br>
        <label id="note"><b>NOTE:<br>You have to add date.</b></label><br>
        <input class="form-control"  formControlName="time_period" >
        <!-- <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label> -->
      </div><br>
      <div class="form-group" >
        <mat-label><b>Pick-Up Time</b></mat-label><br>
        <input class="form-control"  formControlName="pickup_time">
        <!-- <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('required') && !addproduct.get('user_name').pristine" >Name is required</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('minlength') && !addproduct.get('user_name').pristine" >Name shoul be > 5</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('user_name').hasError('pattern') && !addproduct.get('user_name').pristine" > Only Chars</label> -->
      </div><br>
      <div class="form-group" >
        <mat-label><b>Pickup Address</b></mat-label><br>
        <input class="form-control" placeholder="Enter Pickup Address" formControlName="pickup_address" >
        <!-- <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('required') && !addproduct.get('mobile_no').pristine" >mobile no is required</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('pattern') " > Only digits</label> -->
      </div><br>

      <div class="form-group" >
        <mat-label><b>Drop Address</b></mat-label><br>
        <input class="form-control" placeholder="Enter Drop Address" formControlName="drop_address">
        <!-- <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('required') && !addproduct.get('mobile_no').pristine" >mobile no is required</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('pattern') " > Only digits</label> -->
      </div><br>
      <div class="form-group" >
        <mat-label><b>Requirment</b></mat-label><br>
        <input class="form-control" placeholder="Enter Requirment" formControlName="requirment" >
        <!-- <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('required') && !addproduct.get('mobile_no').pristine" >mobile no is required</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('maxlength')" >only 10 digits</label>
        <label class="alert alert-danger" *ngIf="addproduct.get('mobile_no').hasError('pattern') " > Only digits</label> -->
      </div><br>
    <div class="form-group">
      <button  type="submit" class="btn btn-primary" >ADD SLOT</button>
    </div>
</form>
