<div class="container">

<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <h1 class="hh">Login</h1>
  <div class="imgcontainer">
     <img  alt="Avatar" class="avatar">
    </div>
  <div class="container">
   <!-- <mat-form-field> -->
      <label ><b>ENTER EMAIL</b></label>
      <input matInput formControlName="email_id" type="text" ><mat-icon matPrefix>mail</mat-icon>
      <mat-label *ngIf="loginForm.get('email_id').hasError('required') && !loginForm.get('email_id').pristine ">Email
        should not be empty</mat-label>
      <mat-label *ngIf="loginForm.get('email_id').hasError('email') && !loginForm.get('email_id').pristine ">Invalid
        Email</mat-label>
    <!-- </mat-form-field> -->
    <br>
    <!-- <mat-form-field> -->
      <label ><b>Password</b></label>
      <input type="password" matInput formControlName="password"><i class="material-icons">remove_red_eye</i>
      <mat-label *ngIf="loginForm.get('password').hasError('required') && !loginForm.get('password').pristine ">Email
        should not be empty</mat-label>
    <!-- </mat-form-field> -->
    </div>
    <button type="submit" class="btn info" >Login</button>
  </form>
</div>
