<div class="container">
    <img src="{{WorkerImage}}" >
  <div class="info">
    <mat-list>
      <mat-label class="label"><b>Worker Name :</b></mat-label>
      <mat-list-item><i class="material-icons">perm_identity</i>{{worker_name }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Email id :</b></mat-label>
      <mat-list-item><i class="material-icons">mail</i>{{email_id}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Mobile Number :</b></mat-label>
      <mat-list-item><i class="material-icons">mobile_screen_share</i>{{mobile_no}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Address :</b></mat-label>
      <mat-list-item ><i class="material-icons">library_books</i>{{address}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Joining Date :</b></mat-label>
      <mat-list-item><i class="material-icons">date_range</i>{{joining_date}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <button mat-raised-button class="button"  (click)="onClickClose()" color="primary" >Back</button>
</div>


