<div class="container">
  <img src="{{workerImage}}">
  <div class="info">
    <mat-list>
      <mat-label class="label"><b>Worker Name :</b></mat-label>
      <mat-list-item><i class="material-icons">perm_identity</i>{{worker_name }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Email id :</b></mat-label>
      <mat-list-item><i class="material-icons">perm_identity</i>{{email_id}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Mobile Number :</b></mat-label>
      <mat-list-item><i class="material-icons">perm_identity</i>{{mobile_no}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Address :</b></mat-label>
      <mat-list-item ><i class="material-icons">perm_identity</i>{{address}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-label class="label"><b>Joining Date :</b></mat-label>
      <mat-list-item><i class="material-icons">perm_identity</i>{{joining_date}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>


