<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><i class="material-icons">home_work</i>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nav/signup"><i class="material-icons">account_circle</i>signup</a>
      <a mat-list-item href="/nav/user"><i class="material-icons">supervised_user_circle</i>User Table</a>
      <a mat-list-item routerLink="/nav/product"><i class="material-icons">control_point_duplicate</i>>Product Table</a>
      <a mat-list-item href="nav/category"><i class="material-icons">category</i>Category Table</a>
      <a mat-list-item href="/nav/Employee"><i class="material-icons">face</i>Employee Table</a>
      <a mat-list-item href="/nav/Slot"><i class="material-icons">beenhere</i>Slot Table</a>
      <a mat-list-item href="/nav/color"><i class="material-icons">color_lens</i>Color Table</a>
      <a mat-list-item (click)="onLogoutClick()"><i class="material-icons">power_settings_new</i>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome to UpKeepAutoServicing ,{{email_id}}</span>
      <button (click)="onLogoutClick()" class="btn">Logout</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
