<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><i class="material-icons">home_work</i>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nav/service"><i class="material-icons">supervised_user_circle</i>Service</a>
      <a mat-list-item routerLink="/nav/user"><i class="material-icons">supervised_user_circle</i>User</a>
      <a mat-list-item routerLink="/nav/worker"><i class="material-icons">supervised_user_circle</i>Worker</a>
      <a mat-list-item routerLink="/nav/vehicleAssigned"><i class="material-icons">bookmark_border</i>vehice-assigned</a>
      <!-- <a mat-list-item routerLink="/nav/product"><i class="material-icons">control_point_duplicate</i>Product</a>
      <a mat-list-item routerLink="/nav/category"><i class="material-icons">category</i>Category</a>
      <a mat-list-item routerLink="/nav/stock"><i class="material-icons">local_pharmacy</i>Stock</a>
      <a mat-list-item routerLink="/nav/order_details"><i class="material-icons">bookmark_border</i>Order-Details</a>-->


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        class="btn btn-success"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome to UpKeepAutoServicing <i class="material-icons">account_circle</i> {{email_id}}</span>
      <button mat-raised-button (click)="onLogoutClick()" class="mybtn" color="warn" aria-label="Example icon-button with a heart icon">Logout
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
