

/* .col {
  display: table;
    width: 100%;
} */

.green
{
  color: green;
}

.red {
  color: red;
}
.mat-form-field {
  font-size: 16px;
  width: 100%;
}
.example-card {
  /* max-width: 240px;
  min-height: 320px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5%;
  float: right;
  align-items: right;
  border-color: blue; */
  display: table-cell; /* Make elements inside the container behave like table cells */

}
/* input
{
  align-items: center;
  float: center;
}
 .example-header-image {
  background-size: cover;
} */
