<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->

  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="2" rowspan="1" class="mail">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Select Year
            <select (change)="onYearChange()" [(ngModel)]="selectedYear">

              <option [ngValue]="item" *ngFor="let item of yearArray">{{item}}</option>
            </select>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Order data"></kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="['January','February','March','April','May','June','July','August','September','October','November','December']" [title]="{ text: 'Months' }">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="line" [data]="orderData">
                </kendo-chart-series-item>

              </kendo-chart-series>
            </kendo-chart>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />

  <mat-grid-list cols="2" rowHeight="500px">

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Pie Chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
           <kendo-chart title="Status">
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category"
                  [labels]="{ visible: true, content: labelContent }">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
</div>
