<mat-list>

  <mat-list-item><i class="material-icons">perm_identity</i>{{vehicle_type}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{vehicle_model}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{service_type}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{time_period}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{pickup_date}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{pickup_address}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{requirment}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><i class="material-icons">perm_identity</i>{{drop_address}}</mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
<div>
    <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
