<!-- <p>past-leaves works!</p> -->
<!-- Amma worker ni badhi past leave laavani che aa temporary che query mangavani che  -->
<div>
  <mat-list>

    <mat-label><b>Leave Start Date :</b></mat-label>
    <mat-list-item>{{leaveStartDate |date}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Leave End Date :</b></mat-label>
    <mat-list-item>{{leaveEndDate |date}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Leave Type :</b></mat-label>
    <mat-list-item>{{Leave_type}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>comment :</b></mat-label>
    <mat-list-item>{{comment |titlecase}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Status :</b></mat-label>
    <mat-list-item>{{status}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Email Id :</b></mat-label>
    <mat-list-item>{{email_id }}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Worker Name :</b></mat-label>
    <mat-list-item>{{worker_name}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Mobile_no :</b></mat-label>
    <mat-list-item>{{mobile_no}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-label><b>Joining Date :</b></mat-label>
    <mat-list-item>{{joining_date |date}}</mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>
</div>
