<!-- <p>emp-viewmore works!</p> -->
<!--
<h1>{{Name}}</h1>
<h1>{{Mobile_no}}</h1>
<h1>{{Email_id}}</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div> -->
<mat-list>

  <mat-list-item>{{employee_designation}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{salary}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{employee_type}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{email_id}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{user_name}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{mobile_no}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{address}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{date_of_birth}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>{{user_type}}</mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
<div mat-dialog-actions>
    <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
