<div class="container">
<mat-list>

  <mat-list-item><i class="material-icons">perm_identity</i>{{employee_designation}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{salary}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{employee_type}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{email_id}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{user_name}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{mobile_no}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{address}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{date_of_birth}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><i class="material-icons">perm_identity</i>{{user_type}}</mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
<div>
    <button mat-button (click)="onClickCancel()">Cancel</button>
</div>
</div>
